<%- include("templates/header", {navLinks: navLinks}) %>
    <div class="container mt-5">
        <div class="alert alert-info text-center">
            <h4 class="alert-heading">Book Club Hosted</h4>
            <p class="mb-0">Welcome to our book club hosting platform. We're excited to help you connect with fellow
                readers!</p>
        </div>
        <%- include("templates/footer") %>